@import url(./cssReset.css);
body {
  /* direction: rtl; */
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}
table {
  text-align: center;
  width: 1500px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
}
table thead th:nth-child(odd) {
  background: rgb(221, 221, 221);
}
table thead th:nth-child(even) {
  background: rgb(185, 183, 183);
}
table tbody td:nth-child(odd) {
  direction: ltr;
}
table tbody td:nth-child(even) {
  padding: 3px 10px;
text-align: right;
}
table tbody tr:nth-child(odd) td:nth-child(odd) {
  background: rgb(185, 183, 183);
}
table tbody tr:nth-child(odd) td:nth-child(even) {
  background: rgb(221, 221, 221);
}
table tbody tr:nth-child(even) td:nth-child(odd) {
  background: rgb(221, 221, 221);
}
table tbody tr:nth-child(even) td:nth-child(even) {
  background: rgb(185, 183, 183);
}