@import url(./cssReset.css);
body {
  /* direction: rtl; */
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}
table {
  text-align: center;
  min-width: 1000px;
  max-width: 1500px;
  margin: 0 auto;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 5px;
  padding: 10px 10px;
}
table thead {
  background: gray;
  color: #fff;
}
table tbody tr {
  background: rgb(221, 221, 221);
}
